.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Ubuntu";
    -fx-background: "#eee";
}

.bg-blue {
    -fx-background-color: "#046dd5";
}

.bg-red {
    -fx-background-color: "#F44336";
}

.bg-white {
    -fx-background-color: "#fff"
}

.bg-dark {
    -fx-background-color: "#333"
}

.bg-gray {
    -fx-background-color: "#ccc"
}

.jfx-slider > .track {
     -fx-background-color: "#046dd5";
}
.jfx-slider > .thumb {
     -fx-background-color: "#046dd5";
}
.jfx-slider > .colored-track {
     -fx-background-color: "#046dd5";
}
.jfx-slider > .animated-thumb {
     -fx-background-color: "#046dd5";
}
.progress-bar > .bar {
    -fx-background-color: "#046dd5";
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.progress-bar > .track {
    -fx-background-color: "#333";
    -fx-background-radius: 0;
}