.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Ubuntu";
    -fx-background: "#eee";
}

.bg-blue {
    -fx-background-color: "#046dd5";
}

.bg-red {
    -fx-background-color: "#F44336";
}

.bg-white {
    -fx-background-color: "#fff"
}

.bg-dark {
    -fx-background-color: "#333"
}

.bg-gray {
    -fx-background-color: "#ccc"
}